contents:
  repositories:
    - https://packages.wolfi.dev/os
    - https://alauda-mesh.github.io/istio-base-images
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    - https://alauda-mesh.github.io/istio-base-images/melange.rsa.pub
  packages:
    - ca-certificates-bundle
    # related issue: https://github.com/istio/istio/pull/57484
    # but we may need wolfi-baselayout
    - wolfi-baselayout
    - alauda-baselayout
    - glibc
    - iptables
    - ip6tables
    - libnetfilter_conntrack
    - libnfnetlink
    - libmnl
    - libgcc
    # see detail: https://github.com/istio/istio/pull/56917
    - nftables-slim
archs:
  - x86_64
  - aarch64
paths:
- path: /run
  type: directory
  permissions: 0o755
accounts:
  users:
    - username: nonroot
      uid: 65532
      shell: /sbin/nologin
    - username: nobody
      uid: 65534
      shell: /sbin/nologin
  run-as: 65532
work-dir: /home/nonroot
